.splash-row.row
  .large-12.columns
    %h1 wanna go streaking?
.welcome-row.row
  .large-10.large-centered.welcome-nav.columns
    = link_to "Don't be shy.", new_user_registration_path
    = link_to "Unless you've been here before.", new_user_session_path

/ :javascript
/   $(document).ready(function() {
/       $(".sign-up-form").hide();
/       $(".sign-up-btn").click(function(e){
/         e.preventDefault()
/         $(".sign-up-form").slideDown(1000);  
/     });
/   });