.splash-row.row
  .large-12.columns
    %h1 wanna go streaking?
.welcome-row.row
  .large-5.large-centered.welcome-nav.columns
    - if user_signed_in?
      = link_to "Check your tasks."
    - else
    .sign-up-btn
      = link_to "Don't be shy.", new_user_registration_path

/ :javascript
/   $(document).ready(function() {
/       $(".sign-up-form").hide();
/       $(".sign-up-btn").click(function(e){
/         e.preventDefault()
/         $(".sign-up-form").slideDown(1000);  
/     });
/   });