.streaking.row
  .large-12.columns
    %h1.home-title 
      = link_to "wanna go streaking?", new_user_registration_path
.welcome-row.row
  .large-6.large-centered.sign-in-title.columns
    = link_to "Been here before?", new_user_session_path