.streaking.row
  .large-12.columns
    %h1.home-title 
      = link_to "wanna go streaking?", new_user_registration_path
      %a.icon-asterisk.asterisk{href: "http://youtu.be/20g3QIUnOgY"}
.welcome-row.row
  .large-6.large-centered.sign-in-title.columns
    = link_to "Been here before?", new_user_session_path
.footnote-row.row
  .large-5.large-centered.columns
    .footnote-text
      %p Streaking.
      %p noun.
      %p (I.) A state of being in which you consistently complete a series of tasks or personal goals based on Seinfeld's theory of productivity.
      %p (II.) See asterisk. 