// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home Page 
.streaking {
  margin-top: 35vh;
  margin-bottom: 40px;

  .home-title {
    font-size: 6em;
    text-align: center;
    line-height: 0;
    
    a {
      color: black;
    }
  }

  h2 {
    display: inline-block;
  }
}

.welcome-nav {
  text-align: center;
  font-size: 1.8em;
}

// Title Effect
.home-title a {
  padding: 8px 0;
}

.home-title a::after {
  position: absolute;
  top: 100%;
  left: 2%;
  width: 95%;
  height: 4px;
  background: rgba(0,0,0,0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.home-title a:hover::after,
.home-title a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}

// Been here before? Link Effect
.sign-in-title {
  text-align: center;
}

.sign-in-title a {
  padding: 8px 0;
  font-size: 2em;
}

.sign-in-title a::after {
  position: absolute;
  top: 100%;
  left: 4%;
  width: 92%;
  height: 2px;
  background: rgba(0,0,0,0.1);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}

.sign-in-title a:hover::after,
.sign-in-title a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

// Application
.body {
  background: aliceblue;
}

.user-nav {
  background-color: #334D5C;

  .icon-cogs {
    color: white; 
    font-size: 1.8em;  
  }
  .logo {
    margin-left: 10px;
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .user-settings-dropdown {
    background-color: gray;
    border: solid 1px black;
    color: black;
  }
}

.sign-up-in-form {

  h2 {
    text-align: center;
  }
}

.tasks {

}

// Tasks Page
.checkins {
  text-align: center;
  list-style-type: none;

  .on-time {
    color: green;
  }
  .missed {
    color: red;
  }
  .pending {
    color: darkblue;
  }
}

.forgot {
  text-align: center;
}

.new-task {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px; 
  padding: 10px 15px 5px 15px;
}

.new-task-btn {

  .icon-plus-sign-alt {
    color: black;
  }

  h3 {
    display: inline;
  }
}

// Timepicker 
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }