// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home Page 
.splash-row {
  margin-top: 30vh;

  h1 {
    font-size: 4.5em;
    text-align: center;
  }
  h2 {
    display: inline-block;
  }
}

.welcome-nav {
  text-align: center;
  font-size: 1.8em;
}


// Application Layout
.user-nav {
  
  .icon-cogs {
    color: gray;   
  }
  .logo {
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
  }
}

.sign-up-in-form {

  h2 {
    text-align: center;
  }

  .start-streaking-btn {
    
  }
}

.tasks {

}
