// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home Page 
.streaking {
  margin-top: 28vh;

  .home-title {
    font-size: 5.3em;
    text-align: center;
    line-height: 1;

    a {
      color: black;
    }

    .asterisk {
      font-size: .3em;
      position: absolute;
    }
  }

  h2 {
    display: inline-block;
  }
}


// Application
.body {
  background: aliceblue;
}

.user-nav {
  background-color: #334D5C;

  .icon-cogs {
    color: white; 
    font-size: 1.8em;  
  }
  .logo {
    margin-left: 10px;
    font-size: 1.8em;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  .user-settings-dropdown {
    background-color: gray;
    border: solid 1px black;
    color: black;
  }
}

.sign-up-in-form {

  h2 {
    text-align: center;
  }
}

.footnote-row {
  margin-top: 20px;
  
  .footnote-text {
    font-family: 'IM Fell English', serif;
    font-style: italic;
    font-size: 1.2em;
    margin-top: 40px;
    background: rgba(255, 255, 255, .8);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
  
    p:last-child {
      line-height: 0;
    }

  }

}

// Tasks Page
.checkins {
  text-align: center;
  list-style-type: none;

  .on-time {
    color: green;
  }
  .missed {
    color: red;
  }
  .pending {
    color: darkblue;
  }
}

.forgot {
  text-align: center;
}

.new-task {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px; 
  padding: 10px 15px 5px 15px;
}

.new-task-btn {

  .icon-plus-sign-alt {
    color: black;
  }

  h3 {
    display: inline;
  }
}

// Resize Fixes
@media only screen and (max-width: 900px){
  .streaking {
    margin-top: 5vh;
    .home-title {

      font-size: 3.5em;
    }
  }
  .sign-in-title {
    a {
      font-size: 1.5em;
    }
  }
}